// Copy this file to `secrets.rs` in the same directory and fill in your WIFI information.
// WARNING: This will compile your secrets into your binary, which is probably fine for your own hobbies.
// TODO: Use a better solution that involves the NVS partition.

// WIFI SSID and password.
pub const WIFI_SSID: &str = "FBI Surveillance Van";
pub const WIFI_PASSWORD: &str = "hunter2";

// Base URL for the epaper image files.
// Note that it doesn't have to be AWS S3 - any HTTP server will do.
// NOTE: Do not add a trailing slash. Currently, the code is too simplistic to handle it.
pub const BUCKET_URL: &str = "https://my-bucket.s3.us-west-1.amazonaws.com";